@model IEnumerable<odev.Models.Urun>

@{
    ViewData["Title"] = "Liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fiyat Listesi</h1>

<p>
    <a asp-action="Yeni">Ürün Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ürün_Adı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ürün_kodu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyatı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Türü)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ürün_Adı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ürün_kodu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyatı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Türü)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Guncelle", new { id=item.Id }) |
                @Html.ActionLink("Detay", "Detay", new { id=item.Id }) |
                @Html.ActionLink("Sil", "Sil", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
